configuration {
    show-icons: false;
}

@import "~/.config/rofi/themes/nord.rasi"

window {
    width: 720px;
}

mainbox {
    padding: 18px;
    spacing: 12px;
    children: [ "inputbar" ];
}

inputbar {
    padding: 14px;
    border-radius: 10px;
}

entry {
    placeholder: "Digite o prompt para o Hermes...";
}